<div class="pt-16">
  <p class="text-base">
    View results from:
    <%= safe_join(@competitions.map { |competition|
      label = if show_display_name?(competition)
        safe_join([
          competition.year.to_s,
          tag.span(" (#{competition.display_name})", class: "text-xs font-normal")
        ])
      else
        competition.year.to_s
      end

      if current_competition?(competition)
        tag.span(label, class: "opacity-50", title: CURRENT_TITLE)
      elsif @original_view
        link_to(label, competitions_original_path(competition.year), class: "twlink")
      else
        link_to(label, competition_path(competition.slug), class: "twlink")
      end
    }, ", ") %>
  </p>
</div>
