<div class="flex flex-wrap gap-x-3 gap-y-2 text-[12px]">
  <% dates.each do |date| %>
    <%= render(Leaderboard::UserActivitiesForDate::Component.new(
      date_string: date[:date_string],
      activities: date[:activities],
      punch_id: date[:punch_id],
      competition_year: 2025
    )) %>
  <% end %>
</div>

<script>
  document.querySelectorAll('[data-punch-activities-for]').forEach(el => el.classList.remove('hidden!'))
</script>
