<div class="wrap">

<header>
  <div>
    <h1>May is Bike Month <b>2025</b></h1>
  </div>
  <div class="meta">
    <div><div class="num">19</div><div class="label">Riders</div></div>
    <div><div class="num">8,215</div><div class="label">Miles</div></div>
    <div><div class="num">496<span style="opacity:.4">k</span></div><div class="label">Feet</div></div>
    <div><div class="num">6</div><div class="label">Everyday<br>Riders</div></div>
  </div>
</header>

<section class="rules">
  <h4>Rules</h4>
  <ul>
    <li>Winner is the person who rides the most days in May</li>
    <li>Ties are broken by total distance</li>
    <li>You have to ride at least 2 miles in a day for it to count</li>
    <li>Activities that count: Ride, EBikeRide</li>
  </ul>
</section>

<div class="ridge">
  <div class="ridge-label">Daily total</div>
  <div class="bars">
  <i style="height:22.8%" title="194.4 mi&#10;11,242 ft"></i>
      <i style="height:14.6%" title="125.1 mi&#10;7,304 ft"></i>
      <i style="height:44.3%" title="378.5 mi&#10;38,591 ft"></i>
      <i style="height:34.7%" title="296.3 mi&#10;19,284 ft"></i>
      <i style="height:19.3%" title="164.9 mi&#10;10,548 ft"></i>
      <i style="height:29.0%" title="247.9 mi&#10;14,072 ft"></i>
      <i style="height:25.4%" title="217.1 mi&#10;10,937 ft"></i>
      <i style="height:25.9%" title="221.5 mi&#10;12,644 ft"></i>
      <i style="height:38.0%" title="324.7 mi&#10;17,588 ft"></i>
      <i style="height:47.7%" title="407.6 mi&#10;27,736 ft"></i>
      <i style="height:28.5%" title="243.2 mi&#10;13,684 ft"></i>
      <i style="height:19.3%" title="164.8 mi&#10;9,174 ft"></i>
      <i style="height:26.1%" title="222.6 mi&#10;11,916 ft"></i>
      <i style="height:29.0%" title="247.4 mi&#10;20,660 ft"></i>
      <i style="height:33.3%" title="284.7 mi&#10;12,338 ft"></i>
      <i style="height:27.7%" title="236.3 mi&#10;13,663 ft"></i>
      <i style="height:40.9%" title="349.4 mi&#10;29,317 ft"></i>
      <i style="height:35.8%" title="306.1 mi&#10;19,300 ft"></i>
      <i style="height:21.5%" title="183.4 mi&#10;8,612 ft"></i>
      <i style="height:19.5%" title="166.3 mi&#10;6,816 ft"></i>
      <i style="height:28.0%" title="238.9 mi&#10;17,317 ft"></i>
      <i style="height:19.3%" title="164.6 mi&#10;7,415 ft"></i>
      <i style="height:39.0%" title="333.2 mi&#10;21,412 ft"></i>
      <i style="height:55.3%" title="472.2 mi&#10;22,751 ft"></i>
      <i style="height:53.4%" title="456.3 mi&#10;36,201 ft"></i>
      <i style="height:34.6%" title="295.4 mi&#10;15,765 ft"></i>
      <i style="height:18.1%" title="154.8 mi&#10;7,105 ft"></i>
      <i style="height:35.9%" title="306.4 mi&#10;21,652 ft"></i>
      <i style="height:27.4%" title="234.2 mi&#10;14,227 ft"></i>
      <i style="height:27.6%" title="235.7 mi&#10;11,708 ft"></i>
      <i style="height:100.0%" title="854.2 mi&#10;55,066 ft"></i>
  </div>
  <div></div>
</div>

<div class="axis">
  <div></div>
  <div class="days">
  <span>1</span>
      <span>2</span>
      <span class="we">3</span>
      <span class="we">4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
      <span>9</span>
      <span class="we">10</span>
      <span class="we">11</span>
      <span>12</span>
      <span>13</span>
      <span>14</span>
      <span>15</span>
      <span>16</span>
      <span class="we">17</span>
      <span class="we">18</span>
      <span>19</span>
      <span>20</span>
      <span>21</span>
      <span>22</span>
      <span>23</span>
      <span class="we">24</span>
      <span class="we">25</span>
      <span>26</span>
      <span>27</span>
      <span>28</span>
      <span>29</span>
      <span>30</span>
      <span class="we">31</span>
  </div>
  <div></div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">01</span>
    <a class="strava" href="https://www.strava.com/athletes/daly_sam" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Sam Daly</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="4" title="2025-05-01: 20.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 12.0 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 14.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-04: 52.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-05: 26.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-06: 23.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-07: 39.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 15.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-09: 22.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-10: 74.0 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-11: 39.8 mi"></span>
      <span class="cell" data-l="4" title="2025-05-12: 23.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 15.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 8.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-15: 10.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-16: 34.0 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-17: 30.0 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-18: 4.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 6.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-20: 16.0 mi"></span>
      <span class="cell" data-l="5" title="2025-05-21: 42.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-22: 27.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-23: 24.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-24: 115.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-25: 68.0 mi"></span>
      <span class="cell" data-l="5" title="2025-05-26: 94.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-27: 36.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-28: 33.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-29: 22.0 mi"></span>
      <span class="cell" data-l="5" title="2025-05-30: 40.1 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 143.7 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    1,128.7 mi<br><span style="opacity:.4">0.0k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">02</span>
    <a class="strava" href="https://www.strava.com/athletes/erakhmatulina" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Ekaterina Rakhmatulina</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="2" title="2025-05-01: 8.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 13.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-03: 80.7 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-04: 7.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 14.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-06: 11.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-07: 14.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 16.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-09: 12.7 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-10: 66.5 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 17.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-12: 17.2 mi"></span>
      <span class="cell" data-l="5" title="2025-05-13: 51.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-14: 30.3 mi"></span>
      <span class="cell" data-l="4" title="2025-05-15: 20.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 19.7 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-17: 67.3 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-18: 23.7 mi"></span>
      <span class="cell" data-l="5" title="2025-05-19: 50.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-20: 14.5 mi"></span>
      <span class="cell" data-l="4" title="2025-05-21: 25.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 14.2 mi"></span>
      <span class="cell" data-l="5" title="2025-05-23: 219.9 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 7.2 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-25: 18.3 mi"></span>
      <span class="cell" data-l="4" title="2025-05-26: 24.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-27: 11.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 18.6 mi"></span>
      <span class="cell" data-l="4" title="2025-05-29: 38.1 mi"></span>
      <span class="cell" data-l="4" title="2025-05-30: 38.5 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 80.0 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    1,057.6 mi<br><span style="opacity:.4">100.5k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">03</span>
    <a class="strava" href="https://www.strava.com/athletes/sschoenwaelder" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Old Scott</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="4" title="2025-05-01: 27.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-02: 6.5 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-03: 62.0 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 4.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-05: 5.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-06: 20.5 mi"></span>
      <span class="cell" data-l="4" title="2025-05-07: 29.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-08: 6.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-09: 13.7 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-10: 42.1 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 10.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.1 mi"></span>
      <span class="cell" data-l="4" title="2025-05-13: 26.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-14: 20.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-15: 18.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-16: 3.4 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-17: 44.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 14.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-19: 14.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 6.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 9.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-22: 6.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 6.4 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 7.7 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 36.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-26: 2.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-27: 5.6 mi"></span>
      <span class="cell" data-l="5" title="2025-05-28: 50.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-29: 4.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-30: 7.4 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 114.4 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    629.3 mi<br><span style="opacity:.4">47.3k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">04</span>
    <a class="strava" href="https://www.strava.com/athletes/gar" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Gar Higgins</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="3" title="2025-05-01: 13.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-02: 9.0 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 5.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-04: 15.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-05: 4.7 mi"></span>
      <span class="cell" data-l="4" title="2025-05-06: 33.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-07: 5.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 14.5 mi"></span>
      <span class="cell" data-l="5" title="2025-05-09: 47.1 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-10: 6.8 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-11: 6.6 mi"></span>
      <span class="cell" data-l="4" title="2025-05-12: 22.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-13: 3.0 mi"></span>
      <span class="cell" data-l="1" title="2025-05-14: 3.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 5.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-16: 3.9 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-17: 3.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-18: 3.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 6.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 3.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 9.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 10.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-23: 3.5 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-24: 3.4 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 20.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-26: 18.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-27: 3.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 16.3 mi"></span>
      <span class="cell" data-l="4" title="2025-05-29: 29.7 mi"></span>
      <span class="cell" data-l="4" title="2025-05-30: 33.4 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-31: 37.1 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    387.0 mi<br><span style="opacity:.4">29.3k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">05</span>
    <a class="strava" href="https://www.strava.com/athletes/136522774" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Gabriella</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="2" title="2025-05-01: 7.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 15.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 11.5 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-04: 6.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 11.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-06: 10.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-07: 16.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-08: 10.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-09: 27.2 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-10: 9.1 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 15.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-12: 17.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 5.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-14: 17.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 8.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 14.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-17: 19.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 11.3 mi"></span>
      <span class="cell" data-l="4" title="2025-05-19: 20.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 2.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 6.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 13.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-23: 11.5 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-24: 3.2 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-25: 6.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-26: 4.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-27: 10.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-28: 7.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-29: 7.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-30: 11.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-31: 14.4 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    230.8 mi<br><span style="opacity:.4">14.8k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">06</span>
    <a class="strava" href="https://www.strava.com/athletes/7770715" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Kristen Lovin</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="1" title="2025-05-01: 3.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 3.5 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-03: 4.8 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 2.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-05: 3.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-06: 6.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-07: 7.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-08: 9.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 8.7 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-10: 2.3 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-11: 3.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-12: 7.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 7.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 8.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 7.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-16: 7.4 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-17: 12.3 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-18: 4.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 8.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 7.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 7.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-22: 5.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-23: 2.6 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-24: 3.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-25: 3.0 mi"></span>
      <span class="cell" data-l="1" title="2025-05-26: 4.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-27: 7.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-28: 7.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-29: 8.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-30: 3.1 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-31: 2.4 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>31</b><span style="opacity:.4">/31</span></span><br>
    171.4 mi<br><span style="opacity:.4">5.3k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">07</span>
    <a class="strava" href="https://www.strava.com/athletes/sethherr" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">seth herr</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="2" title="2025-05-01: 8.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 3.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 16.0 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 3.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 17.1 mi"></span>
      <span class="cell" data-l="4" title="2025-05-06: 36.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-07: 2.5 mi"></span>
      <span class="cell" data-l="4" title="2025-05-08: 25.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 5.2 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-10: 12.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 14.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-12: 8.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 8.7 mi"></span>
      <span class="cell" data-l="4" title="2025-05-14: 27.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 7.3 mi"></span>
      <span class="cell" data-l="5" title="2025-05-16: 52.3 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-17: 5.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 18.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 2.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 3.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-21: 10.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-22: 9.3 mi"></span>
      <span class="cell" data-l="1" title="2025-05-23: 2.0 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-24: 14.9 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 28.4 mi"></span>
      <span class="cell" data-l="4" title="2025-05-26: 28.6 mi"></span>
      <span class="cell" data-l="4" title="2025-05-27: 24.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 17.7 mi"></span>
      <span class="cell" data-l="4" title="2025-05-29: 23.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-30: 12.6 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 104.4 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>30</b><span style="opacity:.4">/31</span></span><br>
    533.8 mi<br><span style="opacity:.4">38.1k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">08</span>
    <a class="strava" href="https://www.strava.com/athletes/11988110" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Elizabeth</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="3" title="2025-05-01: 18.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 1.8 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 7.6 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-04: 34.5 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-06: 9.7 mi"></span>
      <span class="cell" data-l="4" title="2025-05-07: 30.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-08: 3.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-09: 12.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-10: 13.6 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-11: 25.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-12: 18.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 10.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 5.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 5.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-16: 7.6 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-17: 38.3 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-18: 48.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 7.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 7.3 mi"></span>
      <span class="cell" data-l="1" title="2025-05-21: 2.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 16.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 6.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-24: 141.1 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-25: 120.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-26: 20.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-27: 3.0 mi"></span>
      <span class="cell" data-l="1" title="2025-05-28: 4.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-29: 5.8 mi"></span>
      <span class="cell" data-l="4" title="2025-05-30: 22.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-31: 17.7 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>28</b><span style="opacity:.4">/31</span></span><br>
    642.1 mi<br><span style="opacity:.4">41.5k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">09</span>
    <a class="strava" href="https://www.strava.com/athletes/jackson_lester" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">jackson_lester</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="1" title="2025-05-01: 2.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 19.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 18.7 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 3.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-05: 8.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-06: 2.2 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="3" title="2025-05-08: 13.9 mi"></span>
      <span class="cell" data-l="5" title="2025-05-09: 50.3 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-10: 47.9 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell" data-l="3" title="2025-05-12: 14.0 mi"></span>
      <span class="cell" data-l="1" title="2025-05-13: 2.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-14: 22.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-15: 18.8 mi"></span>
      <span class="cell" data-l="4" title="2025-05-16: 20.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-17: 12.5 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 10.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-19: 15.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-20: 17.6 mi"></span>
      <span class="cell" data-l="4" title="2025-05-21: 27.0 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-23: 6.9 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 8.6 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 31.8 mi"></span>
      <span class="cell" data-l="4" title="2025-05-26: 28.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-27: 13.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 18.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-29: 26.5 mi"></span>
      <span class="cell" data-l="4" title="2025-05-30: 21.1 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 80.3 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>28</b><span style="opacity:.4">/31</span></span><br>
    562.6 mi<br><span style="opacity:.4">59.9k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">10</span>
    <a class="strava" href="https://www.strava.com/athletes/46514887" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Emily</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="1" title="2025-05-01: 4.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 11.1 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 6.9 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-04: 19.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-05: 3.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-06: 15.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-07: 5.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-08: 4.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-09: 13.6 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-10: 6.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 15.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-13: 4.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 5.9 mi"></span>
      <span class="cell" data-l="1" title="2025-05-15: 3.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-16: 5.9 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-17: 20.7 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 17.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 3.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-20: 11.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 5.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-22: 3.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 6.1 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 7.1 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 24.9 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="1" title="2025-05-27: 3.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 18.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-29: 3.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-30: 1.6 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 102.2 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>28</b><span style="opacity:.4">/31</span></span><br>
    321.4 mi<br><span style="opacity:.4">20.9k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">11</span>
    <a class="strava" href="https://www.strava.com/athletes/cmikschl" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Chris Mikschl</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="1" title="2025-05-01: 4.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 1.4 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-03: 102.1 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 1.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 15.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-06: 2.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-07: 4.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 11.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-09: 2.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-10: 2.4 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 5.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 5.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 5.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-16: 5.2 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-17: 2.1 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-18: 3.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 2.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 3.9 mi"></span>
      <span class="cell" data-l="1" title="2025-05-21: 2.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-22: 5.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-23: 2.3 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-24: 83.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-25: 3.9 mi"></span>
      <span class="cell" data-l="1" title="2025-05-26: 2.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-27: 2.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-28: 3.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-29: 2.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-30: 2.7 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-31: 5.3 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>28</b><span style="opacity:.4">/31</span></span><br>
    299.8 mi<br><span style="opacity:.4">16.8k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">12</span>
    <a class="strava" href="https://www.strava.com/athletes/higgins_alexandra" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Ali</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="2" title="2025-05-01: 8.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 3.3 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 6.9 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 2.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 18.3 mi"></span>
      <span class="cell" data-l="1" title="2025-05-06: 4.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-07: 3.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 17.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 6.9 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-10: 3.3 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 11.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 4.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 6.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 5.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 7.9 mi"></span>
      <span class="cell" data-l="1" title="2025-05-16: 3.3 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-17: 2.5 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 13.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 3.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 2.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-21: 5.3 mi"></span>
      <span class="cell" data-l="1" title="2025-05-22: 4.5 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 6.2 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-25: 8.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-26: 8.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-27: 9.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-28: 8.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-29: 7.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-30: 10.9 mi"></span>
      <span class="cell we" title="no rides"></span>
  </div>
  <div class="totals">
    <span class="big"><b>28</b><span style="opacity:.4">/31</span></span><br>
    182.7 mi<br><span style="opacity:.4">8.4k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">13</span>
    <a class="strava" href="https://www.strava.com/athletes/20255994" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Warren Wells</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="5" title="2025-05-01: 56.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-02: 5.8 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 3.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 12.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-06: 18.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-07: 7.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-08: 5.9 mi"></span>
      <span class="cell" data-l="5" title="2025-05-09: 44.4 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 14.5 mi"></span>
      <span class="cell" data-l="5" title="2025-05-14: 41.4 mi"></span>
      <span class="cell" data-l="5" title="2025-05-15: 63.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 13.8 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-17: 6.0 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-18: 9.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 2.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 5.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-21: 10.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 10.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 5.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-24: 2.6 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-25: 2.6 mi"></span>
      <span class="cell" data-l="5" title="2025-05-26: 45.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-27: 2.2 mi"></span>
      <span class="cell" data-l="5" title="2025-05-28: 42.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-29: 9.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-30: 6.1 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-31: 6.3 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>27</b><span style="opacity:.4">/31</span></span><br>
    452.6 mi<br><span style="opacity:.4">14.8k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">14</span>
    <a class="strava" href="https://www.strava.com/athletes/bscrugham" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">bscrugham</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 9.2 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 2.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-05: 3.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-06: 8.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-07: 11.0 mi"></span>
      <span class="cell" data-l="4" title="2025-05-08: 39.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 6.0 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-10: 23.4 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-11: 17.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 3.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-13: 7.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-14: 13.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-15: 8.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-16: 4.5 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-17: 11.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 10.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 8.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 5.8 mi"></span>
      <span class="cell" data-l="3" title="2025-05-21: 11.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-22: 6.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-23: 11.3 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-24: 20.0 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-25: 2.7 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-27: 5.1 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
  </div>
  <div class="totals">
    <span class="big"><b>22</b><span style="opacity:.4">/31</span></span><br>
    233.0 mi<br><span style="opacity:.4">2.6k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">15</span>
    <a class="strava" href="https://www.strava.com/athletes/17429756" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Colin</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="2" title="2025-05-03: 9.6 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-04: 87.1 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-06: 8.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-07: 19.4 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="4" title="2025-05-09: 20.4 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-10: 60.1 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-11: 5.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 10.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 5.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-15: 25.4 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="5" title="2025-05-17: 47.3 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-18: 82.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 4.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 3.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-21: 30.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-22: 1.3 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 8.8 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-25: 40.0 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="1" title="2025-05-27: 2.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-28: 24.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-29: 19.9 mi"></span>
      <span class="cell" data-l="2" title="2025-05-30: 7.0 mi"></span>
      <span class="cell we" data-l="5" title="2025-05-31: 71.0 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>21</b><span style="opacity:.4">/31</span></span><br>
    585.1 mi<br><span style="opacity:.4">56.2k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">16</span>
    <a class="strava" href="https://www.strava.com/athletes/morethanreal" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">Yvonne Yip</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="2" title="2025-05-01: 6.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-02: 16.6 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 11.8 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-04: 27.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-05: 9.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-06: 18.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-07: 3.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-08: 7.7 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 7.5 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-10: 1.5 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-11: 29.0 mi"></span>
      <span class="cell" data-l="2" title="2025-05-12: 9.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 14.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-14: 10.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-15: 16.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 13.1 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-17: 0.6 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-18: 7.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 1.9 mi"></span>
      <span class="cell" data-l="4" title="2025-05-20: 33.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-21: 16.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 16.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-23: 10.2 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-24: 30.3 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-25: 29.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-26: 5.9 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="4" title="2025-05-28: 24.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-29: 13.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-30: 6.6 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-31: 39.3 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>21</b><span style="opacity:.4">/31</span></span><br>
    333.7 mi<br><span style="opacity:.4">18.8k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">17</span>
    <a class="strava" href="https://www.strava.com/athletes/zbrowne" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">zbrowne</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" data-l="1" title="2025-05-01: 4.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-02: 2.5 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-03: 11.4 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-04: 20.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-05: 11.4 mi"></span>
      <span class="cell" data-l="2" title="2025-05-06: 10.0 mi"></span>
      <span class="cell" data-l="1" title="2025-05-07: 4.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 11.1 mi"></span>
      <span class="cell" data-l="3" title="2025-05-09: 14.4 mi"></span>
      <span class="cell we" data-l="3" title="2025-05-10: 13.2 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-11: 24.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 3.9 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 11.8 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 6.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-15: 11.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 14.3 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-17: 24.5 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-18: 7.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-19: 4.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-20: 8.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-21: 4.6 mi"></span>
      <span class="cell" data-l="1" title="2025-05-22: 4.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 7.6 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-24: 9.4 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-25: 2.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-26: 2.1 mi"></span>
      <span class="cell" data-l="2" title="2025-05-27: 5.5 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-29: 6.0 mi"></span>
      <span class="cell" data-l="3" title="2025-05-30: 10.1 mi"></span>
      <span class="cell we" data-l="4" title="2025-05-31: 31.2 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>21</b><span style="opacity:.4">/31</span></span><br>
    203.9 mi<br><span style="opacity:.4">12.7k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">18</span>
    <a class="strava" href="https://www.strava.com/athletes/ravi_garcia" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">ravi_garcia</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-06: 7.7 mi"></span>
      <span class="cell" data-l="3" title="2025-05-07: 13.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-08: 10.3 mi"></span>
      <span class="cell" data-l="2" title="2025-05-09: 9.4 mi"></span>
      <span class="cell we" data-l="2" title="2025-05-10: 8.9 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-11: 3.7 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-13: 13.6 mi"></span>
      <span class="cell" data-l="2" title="2025-05-14: 7.2 mi"></span>
      <span class="cell" data-l="4" title="2025-05-15: 38.2 mi"></span>
      <span class="cell" data-l="3" title="2025-05-16: 10.4 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" data-l="3" title="2025-05-18: 12.6 mi"></span>
      <span class="cell" data-l="3" title="2025-05-19: 13.5 mi"></span>
      <span class="cell" data-l="3" title="2025-05-20: 10.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-21: 11.4 mi"></span>
      <span class="cell" data-l="3" title="2025-05-22: 10.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-23: 7.5 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" data-l="2" title="2025-05-25: 8.5 mi"></span>
      <span class="cell" data-l="2" title="2025-05-26: 6.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-27: 3.3 mi"></span>
      <span class="cell" data-l="3" title="2025-05-28: 10.4 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
  </div>
  <div class="totals">
    <span class="big"><b>21</b><span style="opacity:.4">/31</span></span><br>
    202.8 mi<br><span style="opacity:.4">7.5k ft</span>
  </div>
</div>

<div class="row">
  <div class="who">
    <span class="rank">19</span>
    <a class="strava" href="https://www.strava.com/athletes/26072252" target="_blank" rel="noopener" title="View on Strava"><svg viewBox="0 0 24 24" aria-label="Strava" focusable="false">
  <path fill="#fc5200" d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
</svg></a>
    <div class="name-block">
      <div class="name">lily</div>
    </div>
  </div>
  <div class="punchcard">
<span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" data-l="1" title="2025-05-04: 2.5 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="3" title="2025-05-10: 13.3 mi"></span>
      <span class="cell we" data-l="1" title="2025-05-11: 2.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-12: 2.2 mi"></span>
      <span class="cell" data-l="1" title="2025-05-13: 2.8 mi"></span>
      <span class="cell" data-l="1" title="2025-05-14: 2.1 mi"></span>
      <span class="cell" data-l="1" title="2025-05-15: 2.5 mi"></span>
      <span class="cell" data-l="1" title="2025-05-16: 2.4 mi"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" data-l="1" title="2025-05-18: 2.2 mi"></span>
      <span class="cell" data-l="2" title="2025-05-19: 6.4 mi"></span>
      <span class="cell" data-l="1" title="2025-05-20: 3.2 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell we" title="no rides"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-27: 5.2 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell" data-l="2" title="2025-05-29: 5.5 mi"></span>
      <span class="cell" title="no rides"></span>
      <span class="cell we" data-l="1" title="2025-05-31: 4.4 mi"></span>
  </div>
  <div class="totals">
    <span class="big"><b>14</b><span style="opacity:.4">/31</span></span><br>
    56.6 mi<br><span style="opacity:.4">1.3k ft</span>
  </div>
</div>


<div class="footer">
  <div class="legend-block">
    less
    <span class="scale"><i></i><i></i><i></i><i></i><i></i><i></i></span>
    more
  </div>
  <div>
    updated 2026-04-16 14:05 PDT &nbsp; · &nbsp; previous: <a href="#">2024</a>
  </div>
</div>

</div>
