<div class="flex justify-between mt-7 text-purple-300 dark:text-purple-400 font-mono text-[11px] uppercase tracking-[0.12em]">
  <div class="flex items-center gap-1.5">
    less
    <span class="inline-grid grid-cols-[repeat(5,12px)] gap-0.5">
      <i class="block h-3 rounded-[2px] bg-purple-200 dark:bg-purple-900"></i>
      <i class="block h-3 rounded-[2px] bg-purple-300 dark:bg-purple-800"></i>
      <i class="block h-3 rounded-[2px] bg-purple-400 dark:bg-purple-700"></i>
      <i class="block h-3 rounded-[2px] bg-purple-500 dark:bg-purple-600"></i>
      <i class="block h-3 rounded-[2px] bg-purple-600 dark:bg-purple-500"></i>
    </span>
    more
  </div>
  <div>
    <% if @updated_at %>
      updated <%= render(UI::Time::Component.new(time: @updated_at)) %>
    <% end %>
  </div>
</div>

<% if @competitions.many? %>
  <%= render(OtherCompetitionLinks::Component.new(competitions: @competitions, current_year: @current_year)) %>
<% end %>
