<div class="punchcard-footer">
  <div class="punchcard-legend">
    less
    <span class="punchcard-scale"><i></i><i></i><i></i><i></i><i></i></span>
    more
  </div>
  <div>
    <% if @updated_at %>
      updated <%= render(UI::Time::Component.new(time: @updated_at)) %>
    <% end %>
  </div>
</div>

<% if @competitions.many? %>
  <%= render(OtherCompetitionLinks::Component.new(competitions: @competitions, current_year: @current_year)) %>
<% end %>
