<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <%= render(UI::DefinitionList::Component.new(bordered: true)) do |list| %>
    <% list.with_entry(label: "Rider") { "Margot Foster" } %>
    <% list.with_entry(label: "Bike") { "Surly Cross-Check" } %>
    <% list.with_entry(label: "Miles") { "127.4" } %>
  <% end %>

  <%= render(UI::DefinitionList::Component.new(bordered: true)) do |list| %>
    <% list.with_entry(label: "Rider") { "Dana Kim" } %>
    <% list.with_entry(label: "Bike") { "Kona Rove" } %>
    <% list.with_entry(label: "Miles") { "214.8" } %>
  <% end %>

  <%= render(UI::DefinitionList::Component.new(bordered: true)) do |list| %>
    <% list.with_entry(label: "Rider") { "Alex Patel" } %>
    <% list.with_entry(label: "Bike") { "Trek FX 3" } %>
    <% list.with_entry(label: "Miles") { "89.1" } %>
  <% end %>
</div>
