<%= render partial: "/competitions/show_competition" %>

<script>
  window.shouldUpdateStravaInBackground = true
</script>

<% if @previous_competitions.any? %>
  <div class="wrapper-class pt-2!">
    <p>
      View results from:
      <%= safe_join(@previous_competitions.map { |competition|
        link_to(competition.year, competition_path(competition.slug), class: "twlink")
      }, ", ") %>
    </p>
  </div>
<% end %>
