<%= render partial: "/competitions/show_competition" %>

<script>
  window.shouldUpdateStravaInBackground = true
</script>

<% if @previous_competitions.any? %>
  <div class="wrapper-class pt-2!">
    <p class="">
      View results from:
      <%= @previous_competitions.map do |competition|
          link_to(competition.year, competition_path(competition.slug), class: "base-link")
        end.to_sentence.html_safe %>
    </p>
  </div>
<% end %>
