<div
  id="<%= id %>"
  class="max-w-[1340px] mx-auto pt-8 wrapper-padding pb-20"
  data-controller="punch"
>
  <% if @competition&.current? %>
    <%= helpers.turbo_stream_from(*broadcast_channel) %>
  <% end %>

  <%= render(Leaderboard::PunchcardBody::Component.new(
    competition: @competition,
    competition_users: @competition_users,
    updated_at: @updated_at,
    competitions: @competitions
  )) %>
</div>
