---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Wed, 01 May 2024 00:02:35 GMT
recorded_with: VCR 6.2.0
