---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3fb37f5b8acc6e23e33330387b970b0"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,6000'
      X-Ratelimit-Usage:
      - '1,33'
      X-Readratelimit-Limit:
      - '300,3000'
      X-Readratelimit-Usage:
      - '1,33'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":2430215,"resource_state":1},"name":"Rainbow","distance":3611.4,"moving_time":844,"elapsed_time":1632,"total_elevation_gain":11.0,"type":"Ride","sport_type":"Ride","workout_type":10,"id":11319708328,"start_date":"2024-05-03T02:59:12Z","start_date_local":"2024-05-02T19:59:12Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a11319708328","summary_polyline":"qxmeFxccjVGCOHu@RGJE@q@@KE]AADGB_@AIBm@A_@Hc@@KDc@@eBNg@JW?]EUAUH_@CCH]DIEO?k@LGEYVBTCZ?b@CDDRCJG?BNGNWNUFICS@GFG@GEI?IDe@HUESDGCWDIr@FtACb@CJYFICU?s@NUC[DKHICQAUBCCADG?ETEt@BPETGLSBg@Ca@?UDS?UBo@AKDc@@gAPKAKBc@@a@GIFeAJ_@JGEMDQCEFKCSDGDBR@lAHt@AH?b@CT]DCIKAo@@_@EO@KLAJBFCP@b@CNBGAA?BC?X@A@D@AEB@DEDNB@CGBD@E?F?EBB?H@H@GAEA?@D@C?BI@FXNGCB?EABBEKFCCNAFQaAoBFEFOLJPDf@AZGN@H?DGF[AM@[Cm@CKDEAGMW?INQ^EPIDB|@QFNP?PKNHVGF@HAF@`@GFGFHDCHKLEH@DBR?HI^GFBXAd@DVAN@HGF?LGT@FDH?NCD@JI@D?CJBHCLDFFh@KZAHCDBLKFBb@Gh@?TQTGFFPFRBVA\\K\\BJE^GPATC^FR?HCf@?HATMRE|@FREPF`@MRDz@CRCJIH@`@CXGR@TI\\ALCJGBc@Ka@AM@UCUEIA]M[F_CLCDCJ@^GR@F?PPTMn@Gb@BZIP[?IIMCg@CKBa@C_@Fa@FEFQbAEZPHIRBJAHGf@AHKF@NCN@FFHGZAJ?RFZADGHCb@@PGNIT@DCD?FKFC?BBABIB^CBACADHeBEDKEAEF?","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"b11099614","start_latlng":[37.75897233746946,-122.40972454659641],"end_latlng":[37.75666203349829,-122.40902658551931],"average_speed":4.279,"max_speed":7.894,"average_watts":113.7,"kilojoules":96.0,"device_watts":false,"has_heartrate":true,"average_heartrate":120.3,"max_heartrate":134.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":14.7,"elev_low":5.4,"upload_id":12091264128,"upload_id_str":"12091264128","external_id":"610122C0-51CD-4D0E-9B66-C533DCAB6FD5-activity.fit","from_accepted_tag":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"suffer_score":2.0}]'
  recorded_at: Fri, 03 May 2024 04:05:35 GMT
recorded_with: VCR 6.2.0
