---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?grant_type=refresh_token
    body:
      encoding: UTF-8
      string: '{"refresh_token":"xxxzzzz","client_secret":"<STRAVA_SECRET>","client_id":"<STRAVA_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e34248dc4ce508b5c32e05fd977e9e4"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"zzzzxxxxxxx","expires_at":1714533563,"expires_in":12077,"refresh_token":"xxxzzzz"}'
  recorded_at: Tue, 30 Apr 2024 23:58:06 GMT
recorded_with: VCR 6.2.0
