---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1776124800&before=1776211200&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '1,6'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      Etag:
      - W/"05271a60c61a7556b74f7211518cdb4c"
      X-Readratelimit-Usage:
      - '1,6'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":2430215,"resource_state":1},"name":"20
        min HIIT Ride with Emma Lovewell","distance":12027.3,"moving_time":1200,"elapsed_time":1200,"total_elevation_gain":0,"type":"Ride","sport_type":"Ride","workout_type":null,"device_name":"Peloton
        Bike","id":18111714404,"start_date":"2026-04-14T23:03:36Z","start_date_local":"2026-04-14T18:03:36Z","timezone":"(GMT-06:00)
        America/Chicago","utc_offset":-18000.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":0,"kudos_count":2,"comment_count":0,"athlete_count":9,"photo_count":0,"map":{"id":"a18111714404","summary_polyline":"","resource_state":2},"trainer":true,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"start_latlng":[],"end_latlng":[],"average_speed":10.023,"max_speed":13.5,"average_cadence":89.3,"average_watts":238.0,"max_watts":436,"weighted_average_watts":260,"device_watts":true,"kilojoules":285.6,"has_heartrate":true,"average_heartrate":148.8,"max_heartrate":180.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":0.0,"elev_low":0.0,"upload_id":19213576024,"upload_id_str":"19213576024","external_id":"230e11824b024dc98164749fd72826e2.tcx","from_accepted_tag":false,"pr_count":0,"total_photo_count":1,"has_kudoed":false,"suffer_score":14.0}]'
  recorded_at: Tue, 21 Apr 2026 06:31:27 GMT
recorded_with: VCR 6.2.0
