---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?grant_type=refresh_token
    body:
      encoding: UTF-8
      string: '{"refresh_token":"invalid","client_secret":"<STRAVA_SECRET>","client_id":"<STRAVA_CLIENT_ID>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"RefreshToken","field":"refresh_token","code":"invalid"}]}'
  recorded_at: Wed, 01 May 2024 00:00:02 GMT
recorded_with: VCR 6.2.0
