---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1714374000&before=1717397999&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31673e101ced258b77a11305e3524293"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,6000'
      X-Ratelimit-Usage:
      - '10,36'
      X-Readratelimit-Limit:
      - '300,3000'
      X-Readratelimit-Usage:
      - '10,36'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":2430215,"resource_state":1},"name":"MTB
        test ride","distance":4617.6,"moving_time":967,"elapsed_time":991,"total_elevation_gain":20.7,"type":"Ride","sport_type":"Ride","workout_type":0,"id":11326703304,"start_date":"2024-05-04T03:29:06Z","start_date_local":"2024-05-03T20:29:06Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":1,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a11326703304","summary_polyline":"cbmeFdbcjVHBVER@RENKJBHAJGFFJE?EHCC@TBBCF?RDBCD?^BPCADD?VANIVBB?DEPCn@Al@Wz@?`@EH@b@Ij@ALCd@A\\A`@BLCHDJ?ZIHBLAHDXEp@AdAKv@CPILCRDTER?FQGWAaADGBWG[Am@Cc@@SIu@Fq@EMAKrAo@DD`@c@?HE@ADQ@?@TIBGFEFMTWPM?MHBADE@CBE?ELLFBPPh@BTHP?HVp@C?HT@LGHDJADBFAFHFHLND@NJ^GFCDF\\CL@FCLB\\g@LI?GAI@]`@@BE@GCUFEAM@IFY@E@KCEDG@OAGDADEAGBwAB_@DIIIJIAIBCAIFS?UDGH_@KGHSCIFKKUBMACDK?OBECGB{@BCBOD[AOGGDSDkBAc@FkB?KDe@@_@Fw@@ABIBARLl@FH?XWT[DIQUEYKe@d@IDk@DUMw@?aAQKFQEc@AQCK@OHQDO?O?SKk@\\QDG@MC[BQH_@FMPi@?MJYGg@r@IDu@PQ?KDM@i@@]EAj@_A?eANY@a@AODM\\Vn@BNE@Ff@?HFHEVIJULYBIDUFCFQJEAGFEKIEM?IBORWBgCdBm@HUCK?MCEHKBc@Au@JBKU@TOKFQCCEM@UAKE[DE?IBECM?IEEBCE[Ss@KI]\\jBA@IsBEBDHFDPTOn@FF@PHDAOBEb@ABEJAH@NCBGDALAHBH?RKJHXEX?BIBFFFA?DCNC?AF@N?@FHDLAHKNABLR@JL?DRFZGLBTEH@FMB]BICGAKDODI?_@FYLQAGBGK]BI?KHKNw@HE@IHEBG`@A|@LRAJBHC~@ANEJIRAHCD@VKNDZ?BEf@G`@DDFDCDED?DW`@CPGBABWDGd@MHO\\SXETOf@i@NEt@aAc@b@hF_CgF~B?EEDh@kA@Y|As@bAW@CCABGC?BGACEB?JDB?KCDD@@CAF@A?ACBFGMD","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"b6011644","start_latlng":[37.75538245216012,-122.40946663543582],"end_latlng":[37.75668986141682,-122.4090477079153],"average_speed":4.775,"max_speed":16.023,"average_watts":165.2,"kilojoules":159.7,"device_watts":false,"has_heartrate":true,"average_heartrate":121.6,"max_heartrate":143.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":17.4,"elev_low":7.5,"upload_id":12098451547,"upload_id_str":"12098451547","external_id":"13912CE5-47F9-4475-90CB-CC66CD111EFA-activity.fit","from_accepted_tag":false,"pr_count":1,"total_photo_count":0,"has_kudoed":false,"suffer_score":2.0},{"resource_state":2,"athlete":{"id":2430215,"resource_state":1},"name":"Rainbow","distance":3611.4,"moving_time":844,"elapsed_time":1632,"total_elevation_gain":11.0,"type":"Ride","sport_type":"Ride","workout_type":10,"id":11319708328,"start_date":"2024-05-03T02:59:12Z","start_date_local":"2024-05-02T19:59:12Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,[...]
