<div class="hidden! inline-flex items-baseline gap-x-1" data-punch-activities-for="<%= @punch_id %>">
  <span class="opacity-50 font-mono text-[11px] shrink-0"><%= short_date %></span>
  <span><%= activities_html %></span>
</div>
