<div
  class="hidden! pl-9 -indent-9 break-inside-avoid pb-1"
  data-punch-activities-for="<%= @punch_id %>"
>
  <span class="opacity-50 font-mono text-[11px]"><%= short_date %></span>
  <%= activities_html %>
</div>
