<div class="max-w-[1340px] mx-auto pt-8 px-7 pb-20" data-controller="punch">
  <%= render(Punchcard::Body::Component.new(
    competition: @competition,
    competition_users: @competition_users,
    updated_at: @updated_at,
    competitions: @competitions
  )) %>
</div>
