<%= render(UI::Modal::Component.new(title: "Settings", id: "user-settings-modal")) do |modal| %>
  <% if trigger? %>
    <% modal.with_trigger do %>
      <%= trigger %>
    <% end %>
  <% end %>

  <% modal.with_body do %>
    <div class="space-y-6">
      <%# Theme %>
      <div
        data-controller="theme"
        data-theme-url-value="<%= helpers.account_path %>"
        data-theme-current-value="<%= theme_current_value %>"
      >
        <h4 class="text-sm font-medium text-gray-900 dark:text-white mb-3">
          Theme
        </h4>

        <div class="flex gap-3">
          <button
            data-action="click->theme#select"
            data-theme-target="option"
            data-theme="theme_light"
            class="
              flex-1 flex flex-col items-center gap-2 p-3
              rounded-lg border border-gray-200
              dark:border-gray-600 hover:border-blue-400
              transition-all cursor-pointer
            "
          >
            <svg
              class="w-6 h-6 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zm11.394-5.834a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zm5.834-1.166a.75.75 0 00-1.06 1.06l1.59 1.591a.75.75 0 101.061-1.06l-1.59-1.591zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zm.166 5.834a.75.75 0 001.06 1.06l1.591-1.59a.75.75 0 00-1.06-1.061l-1.591 1.59zm-.412-11.668a.75.75 0 10-1.06 1.06l1.59 1.591a.75.75 0 001.061-1.06l-1.59-1.591zM18 12a.75.75 0 01.75-.75H21a.75.75 0 010 1.5h-2.25A.75.75 0 0118 12z"
              />
            </svg>

            <span class="text-xs text-gray-600 dark:text-gray-400">
              Light
            </span>
          </button>

          <button
            data-action="click->theme#select"
            data-theme-target="option"
            data-theme="theme_dark"
            class="
              flex-1 flex flex-col items-center gap-2 p-3
              rounded-lg border border-gray-200
              dark:border-gray-600 hover:border-blue-400
              transition-all cursor-pointer
            "
          >
            <svg
              class="w-6 h-6 text-indigo-400"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z"
                clip-rule="evenodd"
              />
            </svg>

            <span class="text-xs text-gray-600 dark:text-gray-400"> Dark </span>
          </button>

          <button
            data-action="click->theme#select"
            data-theme-target="option"
            data-theme="system"
            class="
              flex-1 flex flex-col items-center gap-2 p-3
              rounded-lg border border-gray-200
              dark:border-gray-600 hover:border-blue-400
              transition-all cursor-pointer
            "
          >
            <svg
              class="w-6 h-6 text-gray-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-5.379l1.94 1.94a.75.75 0 01-1.06 1.06L12 18.75l-2.251 2.25a.75.75 0 01-1.06-1.06L10.629 18H5.25a3 3 0 01-3-3V5.25zm1.5 0V15a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V5.25a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z"
                clip-rule="evenodd"
              />
            </svg>

            <span class="text-xs text-gray-600 dark:text-gray-400">
              System
            </span>
          </button>
        </div>
      </div>

      <%# Unit preference %>
      <div data-controller="unit-preference">
        <h4 class="text-sm font-medium text-gray-900 dark:text-white mb-3">
          Units
        </h4>

        <div class="flex gap-3">
          <button
            data-action="click->unit-preference#select"
            data-unit="imperial"
            data-unit-preference-target="option"
            class="
              flex-1 p-3 rounded-lg border border-gray-200
              dark:border-gray-600 hover:border-blue-400
              transition-all text-center cursor-pointer
            "
          >
            <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
              Imperial
            </span>

            <span class="block text-xs text-gray-500 dark:text-gray-400 mt-1">
              miles, feet
            </span>
          </button>

          <button
            data-action="click->unit-preference#select"
            data-unit="metric"
            data-unit-preference-target="option"
            class="
              flex-1 p-3 rounded-lg border border-gray-200
              dark:border-gray-600 hover:border-blue-400
              transition-all text-center cursor-pointer
            "
          >
            <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
              Metric
            </span>

            <span class="block text-xs text-gray-500 dark:text-gray-400 mt-1">
              km, meters
            </span>
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
