<%= render(UI::Alert::Component.new(header: header_text, kind: :error, dismissable: @dismissable)) do %>
  <ul class="mt-2 mb-0 list-inside list-disc">
    <% @error_messages.each do |message| %>
      <li class="block"><%= message %></li>
    <% end %>
  </ul>
<% end %>
