<ul
  class="
    relative flex items-center gap-4 px-2 lg:px-4 justify-end mb-2
    bg-purple-100 dark:bg-purple-800 rounded-lg py-2
  "
>
  <span class="hidden sm:inline-block ml-2 text-lg font-semibold">
    May Is Bike Month Admin
  </span>

  <%= helpers.active_link "Competition Users", admin_competition_users_path, class: "twlink ml-2", match_controller: true %>
  <%= helpers.active_link "Competitions", admin_competitions_path, class: "twlink ml-2", match_controller: true %>
  <button type="button" data-open-modal="user-settings-modal" class="twlink ml-auto">Settings</button>
  <%= link_to "Exit", root_url, class: "twlink less-strong" %>
</ul>
