<div class="inline-grid grid-cols-[36px] gap-0.5 h-9">
  <%= render(Leaderboard::PunchcardUserPunch::Component.new(
    date_string: "2025-05-15",
    distance_meters: miles * 1609.344,
    competition: Competition.new(start_date: Date.parse("2025-05-01"))
  )) %>
</div>
