@import "./tables";

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 { @apply text-2xl; }
h2 { @apply text-xl; }
h3 { @apply text-lg; }
h4 { @apply font-bold; }

.base-link {
  @apply cursor-pointer underline decoration-1 hover:decoration-2 active:decoration-2;
}
.base-link.active {
  @apply active:decoration-2;
}

.only-dev-visible, .only-dev-visible-small {
  border: 1px solid #9400d3;
  background: rgba(148,0,211,.1);
}
.only-dev-visible-small {
  font-size: 80%;
}
