<div class="flex justify-between items-center mb-4">
  <h1>Admin Competitions</h1>

  <%= link_to "New Competition", new_admin_competition_path,
      class: "twlink" %>
</div>

<%= render(Admin::CurrentHeader::Component.new(viewing: controller_name.humanize, competition_subject:, searchable_competitions:, render_period: false, s_params: sortable_params)) %>

<% show_dev_info = display_dev_info? %>

<%= render(UI::Table::Component.new(records: @competitions, render_sortable: true)) do |table|
  table.column(sortable: "start_date") do |competition|
    safe_join([competition.start_date.to_s,
      (tag.code(competition.id, class: "only-dev-visible-small") if show_dev_info)].compact)
  end

  table.column(sortable: "end_date") do |competition|
    if competition.start_date.year == competition.end_date.year
      l competition.end_date, format: :month_date
    else
      competition.end_date
    end
  end

  table.column(sortable: "display_name") do |competition|
    safe_join([competition.display_name, " ", tag.code(competition.slug, class: "only-dev-visible-small")])
  end

  table.column(label: "Current?") { |c| check_mark if c.current }

  table.column(sortable: "created_at") do |competition|
    tag.small(l(competition.created_at, format: :localize_time), class: "localizeTime")
  end

  if show_dev_info
    table.column(sortable: "updated_at") do |competition|
      tag.small(l(competition.updated_at, format: :localize_time), class: "localizeTime")
    end
  end

  table.column(label: "Users included") do |competition|
    link_to number_display(competition.competition_users_included.count), admin_competition_users_path(search_competition_id: competition.slug), class: "twlink"
  end

  table.column(label: "Users excluded") do |competition|
    number_display(competition.competition_users_excluded.count)
  end
end %>
