<!DOCTYPE html>

<html class="<%= params.dig(:lookbook, :display, :theme) %>">
  <head>
    <title>May Is Bike Month</title>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>

    <script>window.inComponentPreview = true</script>
  </head>

  <body style="padding: 0;">
    <div class="p-4"><%= yield %></div>
  </body>
</html>
