<!DOCTYPE html>
<html>
  <head>
    <title>May Is Bike Month</title>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_importmap_tags %>
  </head>
  <%# NOTE: This sets the theme %>
  <body class="<%= params.dig(:lookbook, :display, :theme) %>">
    <%# NOTE: at some point, make the padding optional %>
    <div class="w-full h-full p-4">
      <%= yield %>
    </div>
  </body>
</html>
