<!DOCTYPE html>
<html>
  <head>
    <title>May Is Bike Month</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <%# NOTE: This sets the theme %>
  <body class="<%= params.dig(:lookbook, :display, :theme) %>">
    <%# NOTE: at some point, make the padding optional %>
    <div class="tw:w-full tw:h-full tw:p-4">
      <%= yield %>
    </div>
  </body>
</html>
